body{
    background-image: url("/images/canyon.jpg"); 
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

p{
    text-align: left;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    color: #f1f1f1;
}

.radio{
    padding: 20px;
    width: 150px;

  
}

#options{
    text-align: center;
    height: 200px;
}

label{
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;
    text-align: center;
    color: #f1f1f1;
    
}

#curve_chart{
    display: block;
    margin: 0 auto;
    border-style: solid;
    border-color: #a37c88;
    border-width: 7px;
    margin-bottom: 10px;
}

#curve_chart2{
    display: block;
    margin: 0 auto;
    border-style: solid;
    border-color: #a37c88;
    border-width: 7px;
    margin-bottom: 10px;
}
.icon {
  list-style-type: none;
  margin: 0;
  padding-top: 0%;
  padding: 100;
  width: 15%;
  height: 100%; /* Full height */
  position: fixed; /* Make it stick, even on scroll */
  overflow: auto; /* Enable scrolling if the sidenav has too much content */
  right: 0;
  font-size: 100px;
  text-decoration: none;
}
.lorem-logo {
  list-style-type: none;
  margin: 0;
  padding-top: 0%;
  padding: 100;
  width: 10%;
  font-size: 110px;
  color: white;
  height: 100%; /* Full height */
  position: fixed; /* Make it stick, even on scroll */
  overflow: auto; /* Enable scrolling if the sidenav has too much content */
  left: 0;
  font-family: 'Poiret One', cursive;
}
 a:link {
    text-decoration: none;
 }

