#textarea {
    text-align:center
}
textarea[type="text"]
{
    font-size:40px;
    background: transparent;
    color: white;
    resize: none;
    border: 0 none;
    outline: none;
}
#history {
    text-align: center;
    color: white;
}
#time {
    font-size:30px;
    color: white;
}
#prompt {
    font-size:30px;
    color: white;
}
#dark-red {

  font-size: 25px;
  background-color: #C70039;
  color: white;
}
#red {

  font-size: 25px;
  background-color: #E94522;
  color: white;
}
#yellow {

  font-size: 25px;
  background-color: #FFC300;
  color: #684F0B;
}
#grey {

  font-size: 25px;
  background-color: #CACACA;
  color: #4B4B4B;
}
#light-blue {

  font-size: 25px;
  background-color: #B5D9FF;
  color: #004B9A;
}
#light-green {

  font-size: 25px;
  background-color: #DAF7A6;
  color: #1B650E;
}
#green {

  font-size: 25px;
  background-color: #1AAB00;
  color: white;
}
body {
 background-image:url("https://eskipaper.com/images/forest-background-7.jpg");
 background-repeat: no-repeat;
 background-size: cover;
 background-attachment:  fixed;
 }
#nav {
    font-size: 25px;
    color: white;
}
.icon {
  list-style-type: none;
  margin: 0;
  padding-top: 0%;
  padding: 100;
  width: 15%;
  height: 100%; /* Full height */
  position: fixed; /* Make it stick, even on scroll */
  overflow: auto; /* Enable scrolling if the sidenav has too much content */
  right: 0;
  font-size: 100px;
  text-decoration: none;
}
.lorem-logo {
  list-style-type: none;
  margin: 0;
  padding-top: 0%;
  padding: 100;
  width: 10%;
  font-size: 110px;
  color: white;
  height: 100%; /* Full height */
  position: fixed; /* Make it stick, even on scroll */
  overflow: auto; /* Enable scrolling if the sidenav has too much content */
  left: 0;
  font-family: 'Poiret One', cursive;
}
 a:link {
    text-decoration: none;
 }