body{
  background-image: url('https://i.pinimg.com/originals/d9/de/11/d9de112b2c4aedef6df31d05194adf21.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
#map {
  height: 500px;
}
#resources {
  color: white;
}
#navigation {
  color: white;
}
a{
  color: white;
}
.icon {
  list-style-type: none;
  margin: 0;
  padding-top: 10%;
  padding: 100;
  width: 10%;
  height: 100%; /* Full height */
  position: fixed; /* Make it stick, even on scroll */
  overflow: auto; /* Enable scrolling if the sidenav has too much content */
  right: 0;
  font-size: 100px;
  text-decoration: none;
}
.lorem-logo {
  list-style-type: none;
  margin: 0;
  padding-top: 5%;
  padding: 100;
  width: 15%;
  font-size: 150px;
  color: white;
  height: 100%; /* Full height */
  position: fixed; /* Make it stick, even on scroll */
  overflow: auto; /* Enable scrolling if the sidenav has too much content */
  left: 0;
  font-family: 'Poiret One', cursive;
}
 a:link {
    text-decoration: none;
 }

#resources{
    text-align: center;
    text-decoration: none;
}
#address-container{
    text-align: center;
    padding-left: 70%;
    
}
#submit{
    text-align: center;
    padding-left: 70%;
}
#therapists-header{
    text-align: center;
    padding-left: 70%;
}
#address{
    padding-left: 70%;
    text-align: center;
}